@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

#btn-menu {
    display: none;
}

.post_section {
    display: none !important;
}

h2.SliderText.aos-init.aos-animate {
    margin-left: 30px;
}

.galery-container-area {
    text-align: center;
    margin-top: 15px;
}

.labe-menu {
    display: none;
}

.img-post-single {
    text-align: center;
}

.text-beneficios.aos-init.aos-animate {
    text-align: center;
}

h1.title-post-single {
    text-align: center;
    color: #004586;
    font-size: 2em;
    padding: 15px;
}

.content-post-single img {
    width: 50% !important;

}

/* .wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 0;
    overflow: hidden;
} */

/*POst*/
.content-post-single {
    line-height: 34px;
    font-size: 1.2em;
}

.caja-ficha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2.title.dos {
    color: #004586;
}

div#Single-post-content {
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    padding-top: 0;
}

h2.post-title {
    text-align: center;
    font-size: 1em;
}

.boton-post {
    text-align: center;
}

.single_post {
    display: grid;
    background: #fff;
    border: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

a.see-more {
    background: #DBE8F2;
    width: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}

.single_post p {
    padding: 15px;
    padding-top: 0;
    text-align: justify;
}

h2.Post_name_title_section {
    text-align: center;
    padding: 20px;
    font-size: 3em;
    padding-top: 0px;
    color: #004586;
}

.single_post:hover {

    background: #004586;
    color: white;
}

.single_post {

    transition: all 0.5s ease 0.1s !important;
    -webkit-transition: all 0.5s ease 0.1s;
    -moz-transition: all 0.5s ease 0.1s;
    -o-transition: all 0.5s ease 0.1s;
}

.post-secction-grid {
    display: grid;
    grid-template-columns: 25.3% 25.3% 25.3%;
    grid-gap: 60px;
    justify-content: center;
}

.post_section {
    padding: 25px;
}

.quantity input {
    padding: 17px !important;
    padding-right: 10px !important;
}

input.inpurnumber {
    padding: 15px !important;
}

.product-information a {
    text-decoration: none;
}

/*Post*/
.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_second.container {
    padding-top: 30px;
}

a.cart-contents.mini-cart {
    text-decoration: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    justify-content: flex-start;
    align-items: flex-start;
}

i.fas.fa-shopping-cart {
    display: flex;
}

a.cart-contents.mini-cart {
    text-decoration: none;
    font-size: 16px;
    color: white;
    line-height: 17px;
}

a.mini-cart.cart-contents {
    display: flex;
    flex-direction: column-reverse;
}

a.cart-contents.mini-cart img {
    display: none;
}

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 100%;
}

p.items-count {
    margin: 0;
    font-size: 0.7em;
}

.maincontent h1 {
    text-align: center;
}

.maincontent p {
    padding: 60px !important;
    line-height: 34px !important;
    font-size: 1.5em !important;
}

a#SeccionBoton {
    border-radius: 29px;
    background: #004586;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 40px;
    margin-left: 10px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background: white;
    align-items: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.redes_ul {
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header2 #container-submenu {
    top: 100%;
}

#container-submenu {
    display: none;
    text-shadow: none;
    position: absolute;
    top: 155px;
    width: 30%;
    z-index: 1000;
    left: 63%;
}

.title-shop {
    background: #ececec;
    border-bottom: 1px solid #ececec;
    font-size: 1.3em;
    line-height: 22px;
    padding: 20px 24px 20px 23px;
    text-align: start;
    margin-bottom: 0;
    color: #191919;
    font-weight: normal;
}

.cantidad button {
    top: 0;
    border: none;
    min-width: 0;
    padding: 0;
    outline: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #f3f3f3;
    color: #595959;
}

#counting {
    margin-top: 0;
    padding: 0 10px 0 10px;
}


.shop_botton {
    text-transform: uppercase;
    letter-spacing: 0.03em;
    background: #004586;
    color: #fff;
    font-weight: 700;
    border-color: #7b6245;
    border-radius: 22.5px;
    text-decoration: none;
    padding: 11px;
    line-height: 43px;
    border: 1px solid #004586;
    text-align: center;
    box-shadow: 0 0 0 0 transparent;
}

.footer_shop {
    border-top: 1px solid #ececec;
    background: #ececec;
    padding: 24px 16px 25px;
    text-align: center;
}

.my-shop {
    background: white;
    padding: 39px 25px 34px;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    flex-flow: column nowrap;
}


.mini-cart-totals {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a.cart-contents.cant {
    text-decoration: none;
    font-weight: 700;
}

i.fas.fa-truck.truck {
    font-size: 30px;
}

.producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto img {
    max-width: 35%;
}

.info_product {
    display: flex;
    flex-direction: column;
}

.cantidad {
    display: flex;
}

.price {
    display: flex;
    flex-direction: column;
}

.link_price a {
    color: black;
}

.header-content {
    padding-right: 125px;
}

.container_second.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slides li {
    background-color: #008cc3;
    height: 60vh;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url(../images/logo_opacidad.png);

    /* Set a specific height *
      
        /* Position and center the image to scale nicely on all screens */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 40%;
    position: relative;
}

.slides li {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 90px !important;
    box-shadow: none;
}

.product_container.aos-init.aos-animate {
    margin-left: 21px;
}

ul.products.columns-4.list {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

ul.products.columns-4.list li {
    display: flex !important;
    flex-direction: column !important;
    width: 25%;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
    box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.boton-product.newProduct {
    width: 100%;
    flex-direction: initial;
}

button.ajax_add_to_cart_confi.button.product_type_simple.add_to_cart_button.alt.newbutton {
    margin-left: 23px;
}

.header2 {
    position: fixed;
    display: grid;
    height: 102px;
    width: 100%;
    z-index: 9999;
    background-color: white;
    top: 0;
    grid-template-columns: auto 45% 11% 13%;
    grid-template-rows: 99%;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
    box-shadow: 0 10px 24px 0px rgba(46, 55, 77, .24);
    ;
}

.header-content.wrapper {
    text-align: end;
}

.header2 .header-content .header-img {
    line-height: 100px;
    width: 28%;
    padding: 10px;
}

strong {
    font-weight: 700;
}

.shop_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product_container {
    display: grid;
    grid-template-areas:
        "img-product"
        "product-information"
        "price-product";

    justify-content: center;
    grid-template-columns: 100%;
    align-items: center;
    width: 25%;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
    box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
}

.section-delivery.NewSection {
    height: 80vh;
}

.redes_ul_footer {
    display: flex;
}

span.price-span {
    font-weight: 700;
    font-size: 1.3em;
}

.price-product {
    grid-area: price-product;
}

.img-product {
    grid-area: img-product;

}

.img-product img {
    width: 100%;
}

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 58px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    border: 1px solid #eee;
    padding-right: 16px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.boton-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single_product {
    display: flex;
    align-items: center;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

a.button.product_type_simple {
    color: #004586 !important;
    background: white !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #004586 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    font-size: 0.7em !important;
    margin: 16px !important;
}

a.button.product_type_simple i {
    margin: 0 !important;
}

.price-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

h4.product-name {
    color: #004586;
    font-weight: 700;
    font-size: 1.3em;
}

.product-information {
    grid-area: product-information;
    grid-template-rows: 100%;
    display: grid;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #DBE8F2;
    border-top: 1px solid #DBE8F2;
    border-left: none;
    padding: 14px;
}

#owl-products {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.woocommerce div.product form.cart .variations select {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 40px 10px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: 0 0;
    border-color: rgba(0, 0, 0, .1);
    color: inherit;
    cursor: pointer;
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.added {
    display: none;
}

i.fas.fa-cart-plus {
    font-size: 17px;
    margin-left: 11px;
}

i.fas.fa-shopping-cart {
    font-size: 20px;
    color: white;
    margin-left: 34px;
    background: #004586;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.owl-products_img {
    width: 75%;
    float: left;
}

#apbd-mini-cart-container {
    z-index: 999999 !important;
}

a.added_to_cart.wc-forward {
    color: #20223F;
    background: #e8e8e8;
    margin: 20px auto 20px auto;
    text-align: center;
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    text-transform: uppercas e;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8em;
}

.container_third_Arbol {
    display: grid;
    grid-template-columns: 50% 50%;
    /* justify-content: center; */
    align-items: center;
    padding-top: 25px;
}

.container_third_text {
    padding: 31px;
    text-align: end;
    font-size: 2em;
}

h2.Social_text {
    padding-bottom: 30px;
}

.especificaciones_boton {
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 15px;
    background-color: #DBE8F2;
    margin-bottom: 30px;
    color: #004586;
    font-weight: 700;
    text-decoration: none;
}

.container_second.container {
    text-align: center;
}

.container_third_text p {
    font-weight: 600;
    color: #85CCDD;
}

.container_third_text h2 {
    color: #004586;
}

.bigtitle {
    font-weight: 800;
    color: #181818;

    padding: 20px 50px 20px 20px;
    display: inline-block;
    font-size: 2.7em;
    margin-top: 0;
}

.Footer_menu h3 {
    margin-top: 20px;
}

.mainmenu .nav-menu .menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-bottom: 12px;
}

h2.SliderText {
    right: 30px;
    top: 165px;
    width: 45%;
    color: white;
    font-weight: 600;
    font-size: 3em;
}


.header-content .header-img {
    max-width: 100%;
    /* width: 30%; */
    width: 230px;
}

.mainmenu .nav-menu .menu li {
    list-style: none;
    float: left;
    border-radius: 7px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-bottom: 12px;
}

.menu li {
    list-style: none;
    float: left;
    margin-left: 29px;
    border-radius: 7px;
}

.colorGray {
    color: #504e4e !important;
}

strong {
    color: #004586;
    text-decoration: none;
    font-size: 1.1em;
}

.img-post {
    overflow: hidden;
    height: 100%;
}

.menu li a {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 15px;
    color: #504e4e;
    text-decoration: none;
    letter-spacing: 0.07em;
}

footer {
    background-color: #DBE8F2;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20.3% auto 20.3%;
    width: 100%;

}

img.pricesmart_footer {
    width: 50%;
}

.footer-content {
    /* padding-left: 120px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content .header-img {
    max-width: 95px;
}

.redes_ul_footer {
    padding-right: 115px;
}

.Footer_menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.social_strong {
    font-weight: 700 !important;
    color: #004586 !important;
    font-size: 1.5em;
}

.Social_text {
    color: #004586 !important;
    font-weight: 300 !important;
}

#owl-products h1 {
    padding-top: 15px;
    color: #85CCDD;
}

.caja-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    padding-top: 30px;
}

h2.title {
    color: white;
    text-align: start;
    font-size: 3em;
    z-index: 99;
    font-weight: 700;
}

div#wpcf7-f22-p26-o1 {
    z-index: 99;
    color: white;
    background: white;
    padding: 39px;
}

input.wpcf7-form-control.wpcf7-text {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

.row p {
    display: flex;
    flex-direction: column;
}

input.wpcf7-form-control.wpcf7-text {
    width: 100%;
    margin-top: 10px;
    border: none;
    padding: 15px;
    border-radius: 15px;
    background: #f9f9fb;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email {
    width: 100%;
    border: none;
}

input.wpcf7-form-control.wpcf7-submit {
    width: 100%;
    float: right;
    border-radius: 5px;
    padding: 15px;
    font-weight: 700;
    border: none;
    background: #004586;
}

textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 18px;

    padding: 15px;
    background: #f9f9fb;
    border-radius: 15px;
}

/*Precacucion*/
.precaucion-caja {
    background-color: white;
    max-width: 100%;
    width: 90%;
    -webkit-box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
    box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
}

.title-precaucion {
    background-color: #30384b;
    color: white;
    padding: 15px;
    font-weight: 700;
}


.title-precaucion h2 {
    color: white;
    font-weight: 700;
    text-align: start;
}

.caja-contact.caution {
    height: 100%;
}

.text-description-caution {
    line-height: 40px;
    font-size: 20px;
}

.description-precaucion {
    padding: 15px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.img_cau {
    width: 35%;
}

.icon-beneficio {
    font-size: 50px;
    color: #E12355;
}

.benificio {
    margin-bottom: 60px;
}

.text-beneficios h2 {
    font-size: 45px !important;
}

h2.strong-bene {
    color: #004586;
    font-weight: 700;
}

.area-beneficios {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.beneficios-section {
    background: #FAFBFD;
}

h5.icon-text {
    padding-top: 30px;
    font-size: 15px;
    line-height: 25px;

}

.all-beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.benificio {
    line-height: 40px;
    width: 32%;
    text-align: center;
    /* text-align: start; */
}

.container_third {
    background: #FAFBFD;
}

.container-delivery {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 50% 50%;
    padding: 30px;
    padding-top: 10px;
}

.img_dlivery {
    width: 100%;
}

.text-envio {
    font-size: 35px;
    color: #004586;
    text-align: center;
    font-weight: 700;
}

.delivery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* line-height: 38px; */
    font-size: 22px;
    color: #504e4e;
}

.delivery-text h5 {
    margin-bottom: 30px;
    margin-top: 0;
}

i.fas.fa-check-circle {
    margin-right: 10px;
    color: green;
    font-size: 20px;
}

img.img_product_slider.slider2img.aos-init.aos-animate:nth-child(1) {
    width: auto !important;
}

img.img_product_slider.slider2img.aos-init.aos-animate:nth-child(2) {
    width: auto !important;
}

h2.gallery-Section-h2.newtilte {
    margin-top: 30px;
}

.section-delivery-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img.img_product_slider {
    width: auto !important;
}

.text-envio {}

.section-delivery {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maincontent {
    padding: 36px;
}

i.wpmenucart-icon-shopping-cart-0 {
    color: white;
    font-size: 34px;
}

li#wpmenucartli {
    position: absolute;
    right: 67px;
    top: 34px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #004586;
    color: white !important;
    padding: 10px;
}

a.wpmenucart-contents {
    color: white !important;
}

.caja-contact.certificados {
    display: flex;
    flex-direction: initial;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60vh;
}

.header-content.wrapper {
    text-align: center !important;
}

.tecnica {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.tecnica {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.certificados {
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}

.certificate-area {
    margin-bottom: 75px;
    /* line-height: 41px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.certificate-area a {
    display: block;
    max-width: 500px;
}

.certificate-area a img {
    max-width: 100%;
}

a.pdf_certificate {
    background: #f71f20;
    padding: 12px;
    color: white;
}

a.pdf_certificate {
    background: #f71f20;
    padding: 12px;
    color: white;
    font-size: 1em;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 700;

    margin-left: 25px;
}

i.fas.fa-file-pdf {
    margin-right: 12px;
}

@media screen and (max-width: 1440px) {
    h2.post-title {
        text-align: center;
        font-size: 1em;
        padding: 7px;
    }

    .header2 {
        grid-template-columns: auto 45% 14% 13%;
        ;
    }

    header {
        grid-template-columns: auto 1fr;
    }

    .header-content .header-img {
        grid-column: 1 / 2;
    }

    .mainmenu {
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (max-width: 1280px) {
    li#wpmenucartli {
        right: 19px;
        top: 24px;
        padding: 7px;
    }

    i.wpmenucart-icon-shopping-cart-0 {
        color: white;
        font-size: 25px;
    }

    .page-content {
        height: 100%;
    }

    h2.SliderText {
        right: 30px;
        top: 140px;
        width: 45%;
        color: white;
        font-weight: 600;
        font-size: 3em;
    }

    .caja-contact {


        padding-top: 145px;


        padding-bottom: 111px;
    }

}

@media only screen and (max-width: 768px) {
    .caja-ficha {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 78vh;
    }

    i.fas.fa-shopping-cart {
        font-size: 20px;
        color: white;
        margin-left: 34px;
        background: #004586;
        padding: 8px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        grid-template-columns: 143px 1fr 137px;
    }

    .header-content.wrapper {
        text-align: center;
    }

    .header-content .header-img {
        max-width: 100%;
        width: 34%;
    }

    div#cart {
        display: flex;
        justify-content: flex-start;
    }

    .slides li {
        background-color: #008cc3;
        height: 26vh;
        background-image: url(../images/logo_opacidad.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 40%;
        position: relative;
    }

    .product_container {
        display: grid;
        grid-template-areas:
            "img-product"
            "product-information"
            "price-product";
        justify-content: center;
        grid-template-columns: 100%;
        align-items: center;
        width: 33%;
        background: white;
        border-radius: 10px;
        -webkit-box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
        box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .24);
    }

    .area-beneficios {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        padding: 65px;
    }

    .post-secction-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 60px;
        justify-content: center;
    }

    .redes_ul_footer {
        padding-right: 0;
    }

    .header-content {
        padding-right: 0px;
    }

    .redes_ul {
        display: none;
        padding-left: 18px;
    }

    .menu li {
        margin-left: 15px;
    }

    img.header-img {
        width: 45%;
    }

    h2.SliderText {
        right: 10px;
        top: 80px;
        width: 45%;
        color: white;
        font-weight: 600;
        font-size: 1.5em;
    }

    .Social_text {
        color: #004586 !important;
        font-weight: 300 !important;
        font-size: 2em;
    }

    .container_third_text {
        padding: 31px;
        text-align: end;
        font-size: 1em;
    }

    .container_third_img {
        display: flex;
        justify-content: flex-start;
    }

    img.img_arbol {
        width: 65%;
    }
}

@media only screen and (max-width: 450px) {
    .quantity {
        position: absolute;
        text-align: end;
        display: flex;
        right: 12px;
    }

    .quantity.productqu {
        position: relative;
    }

    .woocommerce .quantity .qty {
        width: 3.631em;
        text-align: center;
        margin-left: 0px;
    }

    .benificio {
        line-height: 40px;
        width: 100%;
        text-align: center;
        /* text-align: start; */
    }

    li.li_redes {
        display: grid !important;
        grid-template-columns: 20% 20%;
    }

    .caja-contact.certificados {
        display: flex;
        flex-direction: column-reverse;
    }

    div#Single-post-content {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        padding-top: 8px;
    }

    h1.title-post-single {
        text-align: center;
        color: #004586;
        font-size: 1.5em;
    }

    .post-secction-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 60px;
        justify-content: center;

    }

    .content-post-single img {
        width: 85% !important;
    }

    i.fas.fa-shopping-cart {
        font-size: 24px;
        color: white;
        margin-left: 0px;
        background: #004586;
        padding: 8px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    .form-v4-content .form-left p {
        font-size: 20px;
        font-weight: 300;
        line-height: 0;
    }

    .form-v4-content h2 {
        font-weight: 700;
        font-size: 25px;
        padding: 6px 0 0;
        margin-bottom: 2px !important;
    }

    p.text-1 {
        font-size: 30px;
        margin-bottom: 2px !important;
    }

    .form-v4-content h2 {
        font-weight: 700;
        font-size: 25px;
        padding: 6px 0 0;
        margin-bottom: 2px;
    }

    li.product.type-product.post-32.status-publish.first.instock.product_cat-higiene.has-post-thumbnail.shipping-taxable.purchasable.product-type-simple {
        width: 100% !important;
    }

    .woocommerce {
        padding: 0 !important;
        padding-top: 40px;
    }

    .woocommerce .quantity .qty {
        width: 3.631em;
        text-align: center;
        margin-left: 25px;
    }

    #maincontent {
        padding: 18px;
    }

    td.product-quantity {
        height: 62px;
        display: flex;
        justify-content: space-between;
    }

    .coupon {
        display: flex;
    }

    .section-delivery.NewSection {
        height: 100%;
    }

    .form-v4-content {
        width: 90% !important;
    }

    .slides li {
        height: 25vh;
    }

    .slides li {
        background-size: 45%;
    }


    .container-delivery {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 50% 50%;
        padding: 30px;
        padding-top: 10px;
    }

    .benificio {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .all-beneficios {
        display: grid;
        grid-template-columns: 100%;
    }

    .benificio.aos-init.aos-animate {
        margin-top: 30px;
    }

    .text-beneficios h2 {
        font-size: 28px !important;
        text-align: center;
    }

    .area-beneficios {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .description-precaucion {
        padding: 15px;
        display: flex;
        /* justify-content: space-around; */
        /* grid-template-columns: 50% 50%; */
        flex-direction: column-reverse;
    }

    .caja-contact.caution {
        height: 100%;
    }

    .product_container {
        grid-template-columns: 100%;
    }

    .product_container {
        width: 70%;
    }

    .product-information {
        grid-area: product-information;
        grid-template-rows: 50% 50%;
    }

    a.button.product_type_simple {
        font-size: 0.7em !important;
        width: 100% !important;
    }

    .header2 .header-content .header-img {
        line-height: 100px;
        width: 70%;
        padding: 10px;
        /* width: 46%; */
    }

    i.fas.fa-chevron-right {
        padding: 20px !important;
    }

    i.fas.fa-chevron-left {
        padding: 20px !important;
    }

    i.fas.fa-chevron-left {
        float: right;
        padding: 10px;
        font-size: 35px;
        color: #004586;
        cursor: pointer;
    }

    i.fas.fa-chevron-right {
        float: right;
        padding: 10px;
        font-size: 35px;
        color: #004586;
        cursor: pointer;
    }

    .footer-content {
        padding-left: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-content .header-img {
        max-width: 95px;
    }

    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email {
        width: 100%;
        margin-bottom: 15px;
    }

    input.wpcf7-form-control.wpcf7-text {
        width: 100%;
        margin-bottom: 15px;
    }

    input.wpcf7-form-control.wpcf7-submit {
        width: 100%;
    }

    .caja-contact {
        padding: 22px;
    }

    .row {
        display: flex;
        flex-direction: column;
        /* margin-top: -2px; */
    }

    .li_redes a {
        display: flex !important;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .header2 {
        display: fixed;
    }

    .header2 .labe-menu {
        position: absolute;
        top: 30px;
        right: 29px;
        border-radius: 10px;
        background-color: #DBE8F2;
        width: 40px;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center
    }

    .mainmenu .nav-menu .menu {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    img.header-img {
        width: 40%;
    }

    .mainmenu {
        display: none;
        position: absolute;
    }

    .redes_ul {
        display: none;
    }

    header {
        display: grid;
        padding: 14px;
        grid-template-columns: 40% 42.3% 15.3%;
        justify-content: flex-end;
    }

    .header-content.wrapper {
        text-align: start;
    }

    #owl-products {
        width: 100%;
    }

    .header-content .header-img {
        max-width: 100%;
        width: 40% !important;
    }

    .header2 {
        grid-template-columns: 40% 42.3% 15.3%;
    }

    footer {
        flex-direction: column-reverse;
    }

    img.header-img.footer-content {
        width: 100% !important;
    }

    .redes_ul_footer {
        padding-right: 0px;
        padding-top: 10px;
        text-align: center;
    }

    .footer-content {
        padding-left: 0px;
    }

    .menu li {
        margin-left: 5px;
    }

    .container_third_text {
        padding: 14px;
        text-align: justify;
        font-size: 1.2em;
    }

    .container_third_Arbol {
        grid-template-areas: "container_third_text"
            "container_third_img";
        grid-template-columns: 100%;
        padding-top: 2px;
    }

    .container_third_img {
        grid-area: container_third_img;
    }

    .container_third_text {
        grid-area: container_third_text;
    }

    .caja-ficha {
        /* display: flex; */
        height: 70vh;
        /* flex-direction: column; */
    }

    img.img_arbol {
        width: 60%;
    }

    .text-description-caution {
        line-height: 30px;
        font-size: 20px;
    }

    .title-precaucion h2 {
        text-align: center;
    }

    p.Social_text {
        font-weight: 300;
        padding-bottom: 0px;
        text-align: center;
        margin: 0;
    }

    .container_third_img.aos-init.aos-animate {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input#btn-menu {
        display: none;
    }

    .Links_header {
        display: flex;
        justify-content: flex-end;
    }

    label.labe-menu {
        top: 19px;
        right: 29px;
        border-radius: 10px;
        background-color: #DBE8F2;
        width: 50px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    i#menu-mobile {
        font-size: 1.5em;
        color: #004586;
    }

    h2.SliderText {
        right: 4px;
        top: 95px;
        width: 40%;
        color: white;
        font-weight: 600;
        font-size: 0.8em;
    }

    p.Social_text.bigtitle.bgbrown {
        text-align: center;
        padding-top: 19px;
        font-size: 1.3em;
    }

    .text-beneficios.aos-init.aos-animate {
        margin-bottom: 30px;
    }

    .bigtitle {
        padding: 0;
    }

    .menu li a {
        font-size: 10px;
    }

    .menu {
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    a#SeccionBoton {
        border-radius: 29px;
        background: #004586;
        color: white;
        height: 25px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        width: 40px;
        margin-left: 10px;
        font-size: 15px;
    }

    img.pricesmart_footer {
        width: 100%;
    }


}

@media only screen and (max-width: 325px) {
    img.header-img {
        width: 41%;
    }

    .header2 .header-content .header-img {
        line-height: 100px;
        width: 50%;
        padding: 10px;
    }

    label.labe-menu {
        top: 30px;
    }

}

/*NEW contact*/

.page-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}

.form-v4-content {
    background: #fff;
    width: 850px;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 23px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    font-family: 'Open Sans', sans-serif;
}

.form-v4-content h2 {
    font-weight: 700;
    font-size: 25px;
    padding: 6px 0 0;
    margin-bottom: 34px;
}

.form-v4-content .form-left {
    background: #0c61b0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    position: relative;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-v4-content .form-left p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
}

.form-v4-content .form-left span {
    font-weight: 700;
}

.form-v4-content .form-left .text-2 {
    margin: 20px 0 25px;
}

.form-v4-content .form-left .account {
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 180px;
    border: none;
    margin: 15px 0 50px 0px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
}

.form-v4-content .form-left .account:hover {
    background: #e5e5e5;
}

.form-v4-content .form-left .form-left-last input {
    padding: 15px;
}

.form-v4-content .form-detail {
    padding: 20px 40px;
    position: relative;
    width: 100%;
}

.form-v4-content .form-detail h2 {
    color: #3786bd;
}

.form-v4-content .form-detail .form-group {
    display: flex;
    display: -webkit-flex;
    margin: 0 -8px;
}

.form-v4-content .form-detail .form-row {
    width: 100%;
    position: relative;
}

.form-v4-content .form-detail .form-group .form-row.form-row-1 {
    width: 50%;
    padding: 0 8px;
}

.form-v4-content .form-detail label {
    font-weight: 600;
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

.form-v4-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}

.form-v4-content .form-detail .form-row label#valid::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-v4-content .form-detail .form-row label.error {
    padding-left: 0;
    margin-left: 0;
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    background: none;
    color: red;
}

.form-v4-content .form-detail .form-row label.error::after {
    content: "\f343";
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -31px;
    color: red;
    font-size: 18px;
    font-weight: 900;
}

.form-v4-content .form-detail .input-text {
    margin-bottom: 27px;
}

.form-v4-content .form-detail input {
    width: 100%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-size: 15px;
    color: #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.form-v4-content .form-detail .form-row input:focus {
    border: 1px solid #53c83c;
}

.form-v4-content .form-detail .form-checkbox {
    margin-top: 1px;
    position: relative;
}

.form-v4-content .form-detail .form-checkbox input {
    position: absolute;
    opacity: 0;
}

.form-v4-content .form-detail .form-checkbox .checkmark {
    position: absolute;
    top: 13px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.text-1 i {
    font-size: 20px;
    margin-right: 15px;
}

.form-v4-content .form-detail .form-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #3786bd;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.form-v4-content .form-detail .form-checkbox input:checked~.checkmark::after {
    display: block;
}

.form-v4-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.form-v4-content .form-detail .form-checkbox .text {
    font-weight: 700;
    color: #3786bd;
    text-decoration: underline;
}

.form-v4-content .form-detail .register {
    background: #3786bd;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 130px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.form-v4-content .form-detail .register:hover {
    background: #2f73a3;
}

.form-v4-content .form-detail .form-row-last input {
    padding: 12.5px;
}

/* Responsive */
@media screen and (max-width: 991px) {
    .form-v4-content {
        margin: 0;
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }

    .form-v4-content .form-left {
        width: auto;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .form-v4-content .form-detail {
        padding: 30px 20px 30px 20px;
        width: auto;
    }
}

@media screen and (max-width: 575px) {
    i.fas.fa-shopping-cart {
        font-size: 23px;
        color: white;
        margin-left: 0px;
        background: #004586;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        width: 80%;
    }

    .form-v4-content .form-detail .form-group {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        margin: 0;
    }

    .form-v4-content .form-detail .form-group .form-row.form-row-1 {
        width: 100%;
        padding: 0;
    }
}

.text-1 i {
    font-size: 20px;
    margin-right: 15px;
}

p.text-1 {
    font-size: 30px;
    margin-bottom: 47px;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    color: black;
    font-weight: 700;
    margin: 0 !important;
}

span.span_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.pricesmart {
    width: 80%;
}